.displayImg{
    width: 250px;
    height: 150px;
    /* border: solid black 1px; */
}

.hideInput {
    display: none !important;
}

body{

}
.form{
    width:340px;
    height:520px;
    background:#ffffff;
    border-radius:8px;
    box-shadow:0 0 40px -10px rgb(161, 10, 10);
    /* gère la distance entre le header de la page et le formulaire */
    margin:calc(35vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    /* position:relative */
}

h4{
    margin:1px 0;
    padding-bottom:1px;
    width:100%;
    color:#a65e2a;
    border-bottom:3px solid #78788c
}
input{
    width:100%;
    /* gère l'espacement entre les différents input */
    padding:1px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:1px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}

p:before{
    content:attr(type);
    display:block;
    /* gère l'espacement apres le input */
    margin:15px 0 0;
    font-size:14px;
    color:#5a5a5a
}

button{
    /* float:right; */
    padding:5px 12px;
    margin:10px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}

button:hover{
    background:#78788c;
    color:#fff
}

div{
    /* content:'Hi'; */
    /* position:absolute; */
    /* bottom:-15px; */
    /* right:-20px;*/
    /* background:#50505a;
    color:#fff;width:320px; */
    /* padding:16px 4px 16px 0; */
    /* border-radius:6px; */
    /* font-size:13px; */
    /* box-shadow:10px 10px 40px -14px #000 */
}
/* span{
    margin:0 5px 0 15px
} */